extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Actualizando Bicicleta

  br
  br

  form(action=`/bicicletas/${bici.id}/update` method="post")
    label(for='id') ID:
    input#id(type='text' value=bici.id name='id')
    br
    label(for='color') Color:
    input#color(type='text' value=bici.color name='color')
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' value=bici.modelo name='modelo')
    br
    label(for='lat') Latitud:
    input#modelo(type='text' value=bici.ubicacion[0] name='lat')
    br
    label(for='lng') Longitud:
    input#modelo(type='text' value=bici.ubicacion[1] name='lng')
    br
    br
    input.btn(type='submit' value='OK')    